.Header input {
  width: 250px;
}

.Header .blocks {
  display: flex;
  column-gap: 5px;
}

.Header .blocks .block-and-name .name {
  text-align: center;
}

.Header .blocks .block-and-name .block {
  border: 2px solid red;
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}


.Header .blocks .block-and-name .block .mini-block {
  border-right: 1px solid blue;
  width: 20px;
  height: 30px;
}